In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
req_col=['loan_type'
,'property_type'
,'loan_purpose'
,'loan_amount_000s'
,'preapproval'
,'action_taken'
,'state_code'
,'applicant_ethnicity'
,'co_applicant_ethnicity'
,'applicant_race_1'
,'co_applicant_race_1'
,'applicant_sex'
,'co_applicant_sex'
,'applicant_income_000s'
,'purchaser_type']

In [4]:
set_dtypes={'loan_type':'int8'
,'property_type':'int8'
,'loan_purpose':'int8'
,'loan_amount_000s':'int64'
,'preapproval':'int8'
,'action_taken':'int8'
,'state_code':'int8'
,'applicant_ethnicity':'int8'
,'co_applicant_ethnicity':'int8'
,'applicant_race_1':'int8'
,'co_applicant_race_1':'int8'
,'applicant_sex':'int8'
,'co_applicant_sex':'int8'
,'applicant_income_000s':'int64'
,'purchaser_type':'int8'}

## 2017 Cleaning

In [5]:
df17=pd.read_csv('../resources/hmda_2017_nationwide_all-records_codes.csv', usecols=req_col)

In [6]:
df17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14285496 entries, 0 to 14285495
Data columns (total 15 columns):
 #   Column                  Dtype
---  ------                  -----
 0   loan_type               int64
 1   property_type           int64
 2   loan_purpose            int64
 3   loan_amount_000s        float64
 4   preapproval             int64
 5   action_taken            int64
 6   state_code              float64
 7   applicant_ethnicity     int64
 8   co_applicant_ethnicity  int64
 9   applicant_race_1        int64
 10  co_applicant_race_1     int64
 11  applicant_sex           int64
 12  co_applicant_sex        int64
 13  applicant_income_000s   float64
 14  purchaser_type          int64
dtypes: float64(3), int64(12)
memory usage: 1.6 GB

In [7]:
start17= len(df17.index)
start17

14285496

In [8]:
df17.isnull().sum().sum()

2098058

In [9]:
df17=df17.dropna()

In [10]:
df17.duplicated().sum()

403333

In [11]:
df17=df17.drop_duplicates()

In [12]:
df17 = df17.astype(set_dtypes)

In [13]:
df17.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11795210 entries, 0 to 14088337
Data columns (total 15 columns):
 #   Column                  Dtype
---  ------                  -----
 0   loan_type               int8
 1   property_type           int8
 2   loan_purpose            int8
 3   loan_amount_000s        int64
 4   preapproval             int8
 5   action_taken            int8
 6   state_code              int8
 7   applicant_ethnicity     int8
 8   co_applicant_ethnicity  int8
 9   applicant_race_1        int8
 10  co_applicant_race_1     int8
 11  applicant_sex           int8
 12  co_applicant_sex        int8
 13  applicant_income_000s   int64
 14  purchaser_type          int8
dtypes: int64(2), int8(13)
memory usage: 416.2 MB

In [14]:
fin17= len(df17.index)
dropped17= (start17-fin17)
print(f"2017: Imported records: {start17} Final records: {fin17} Dropped records: {dropped17}")

2017: Imported records: 14285496 Final records: 11795210 Dropped records: 2490286

## 2016 Cleaning

In [15]:
df16=pd.read_csv('../resources/hmda_2016_nationwide_all-records_codes.csv', usecols=req_col)

In [16]:
start16= len(df16.index)

In [17]:
df16= df16.apply(pd.to_numeric, errors="coerce")

In [18]:
df16.isnull().sum().sum()

2744663

In [19]:
df16=df16.dropna()

In [20]:
df16.duplicated().sum()

581086

In [21]:
df16=df16.drop_duplicates()

In [22]:
df16 = df16.astype(set_dtypes)

In [23]:
fin16= len(df16.index)
dropped16= (start16-fin16)
print(f"2016: Imported records: {start16} Final records: {fin16} Dropped records: {dropped16}")

2016: Imported records: 16332987 Final records: 13023252 Dropped records: 3309735

## 2015 Cleaning

In [24]:
df15=pd.read_csv('../resources/hmda_2015_nationwide_all-records_codes.csv', usecols=req_col)

In [25]:
start15= len(df15.index)

In [26]:
df15= df15.apply(pd.to_numeric, errors="coerce")

In [27]:
df15.isna().sum().sum()

2679676

In [28]:
df15=df15.dropna()

In [29]:
df15.duplicated().sum()

466284

In [30]:
df15=df15.drop_duplicates()

In [31]:
df15 = df15.astype(set_dtypes)

In [32]:
fin15= len(df15.index)
dropped15= (start15-fin15)
print(f"2015: Imported records: {start15} Final records: {fin15} Dropped records: {dropped15}")

2015: Imported records: 14374184 Final records: 11240974 Dropped records: 3133210

## 2014 Cleaning

In [33]:
df14=pd.read_csv('../resources/hmda_2014_nationwide_all-records_codes.csv', usecols=req_col)

In [34]:
start14= len(df14.index)

In [35]:
df14.isna().sum().sum()

1939476

In [36]:
df14=df14.dropna()

In [37]:
df14.duplicated().sum()

410002

In [38]:
df14=df14.drop_duplicates()

In [39]:
df14 = df14.astype(set_dtypes)

In [40]:
fin14= len(df14.index)
dropped14= (start14-fin14)
print(f"2014: Imported records: {start14} Final records: {fin14} Dropped records: {dropped14}")

2014: Imported records: 12049341 Final records: 9709603 Dropped records: 2339738

In [41]:
print(f"2014-2017 Count: \
    Imported records: {start14 + start15 + start16 +start17:,d} \
    Dropped records: {dropped14 + dropped15 + dropped16 + dropped17:,d}\
    Final records: {fin14 + fin15 + fin16 + fin17:,d}")

2014-2017 Count:     Imported records: 57,042,008     Dropped records: 11,272,969    Final records: 45,769,039

### Create new DF

In [42]:
df1=pd.concat([df16, df17], ignore_index=True)

In [43]:
df2=pd.concat([df15, df14], ignore_index=True)

In [44]:
dataset=pd.concat([df1, df2], ignore_index=True)

### Correctly classify target data

In [45]:
# Remove 4 -- Application withdrawn by applicant & 5 -- File closed for incompleteness	& 6 -- Loan purchased by the institution
dataset=dataset[(dataset.action_taken !=4) & (dataset.action_taken !=5) &(dataset.action_taken !=6)]

In [46]:
#Classify remaining columns as Success (1) or Fail (0)
#(1) # 1 -- Loan originated	2 -- Application approved but not accepted	8 -- Preapproval request approved but not accepted (optional reporting) 
#(0) # 3 -- Application denied by financial institution 7 -- Preapproval request denied by financial institution
dataset['action_taken'].replace({2:1, 3:0, 7:0, 8:1}, inplace=True)

In [47]:
dataset['action_taken'].value_counts()

1    27460393
0     7803447
Name: action_taken, dtype: int64

### Filtering

In [48]:
# Only loans for new home purchase
# 'loan_purpose' 1 -- Home purchase	2 -- Home improvement	 3 -- Refinancing 
dataset=dataset[dataset['loan_purpose']== 1]

In [49]:
# Look at 'property_type'
# 1 -- One to four-family (other than manufactured housing) 2-- Manufactured housing
# +95% were 1 so drop 2 to help focus our model
dataset=dataset[dataset['property_type'] == 1]

In [50]:
# 1 -- Preapproval was requested
# 2 -- Preapproval was not requested 
# 3 -- Not applicable

# most are not applicable or not requested- Drop
dataset['preapproval'].value_counts()

3    10087503
2     5393843
1     1105603
Name: preapproval, dtype: int64

In [51]:
dataset= dataset.drop(columns=['loan_purpose', 'property_type', 'preapproval'])

In [52]:
# 1 -- Conventional 
# 2 -- FHA-insured 
#3 -- VA-guaranteed
# 4 -- FSA/RHS (Farm Service Agency or Rural Housing Service)
loan_type_count=dataset['loan_type'].value_counts()
loan_type_count

1    10883515
2     3594337
3     1529662
4      579435
Name: loan_type, dtype: int64

In [53]:
# 0 -- Loan was not originated or was not sold in calendar year covered by register 
# 1 -- Fannie Mae (FNMA)
# 2 -- Ginnie Mae (GNMA)
# 3 -- Freddie Mac (FHLMC)
# 4 -- Farmer Mac (FAMC)
# 5 -- Private securitization
# 6 -- Commercial bank, savings bank or savings association
# 7 -- Life insurance company, credit union, mortgage bank, or finance company 
# 8 -- Affiliate institution
# 9 -- Other type of purchaser
purchaser_type=dataset['purchaser_type'].value_counts()
purchaser_type

0    5296108
1    2472614
2    1976849
6    1931227
7    1858876
3    1632012
9    1119994
8     188534
5     108332
4       2403
Name: purchaser_type, dtype: int64

In [54]:
# # Remove # 0 -- Loan was not originated or was not sold in calendar year covered by register
# loans=loans[loans['purchaser_type'] != 0]

#doing this means we only wind up with loans that were successful
#basically giving us a duplicate of our target, the whole column need to be removed

loans=dataset.drop(columns=['purchaser_type'])

In [55]:
records=len(loans)
print(f'Total_records: {records:,d}')

Total_records: 16,586,949

### Remove Unknowns

#### Several of our chosen columns had unreported/not known/not required options and these were all removed

In [56]:
# 1 -- Hispanic or Latino
# 2 -- Not Hispanic or Latino
# 3 -- Information not provided by applicant in mail, Internet, or telephone application 
# 4 -- Not applicable
# 5 -- No co-applicant
loans['applicant_ethnicity'].value_counts()

2    13426682
1     1720172
3     1432427
4        7668
Name: applicant_ethnicity, dtype: int64

In [58]:
loans=loans[(loans.applicant_ethnicity != 3) & (loans.applicant_ethnicity != 4)]

In [59]:
# 1 -- Hispanic or Latino
# 2 -- Not Hispanic or Latino
# 3 -- Information not provided by applicant in mail, Internet, or telephone application 
# 4 -- Not applicable
# 5 -- No co-applicant

loans['co_applicant_ethnicity'].value_counts()

5    8317584
2    6022735
1     690159
3     110447
4       5929
Name: co_applicant_ethnicity, dtype: int64

In [60]:
loans=loans[(loans.co_applicant_ethnicity != 3) & (loans.co_applicant_ethnicity != 4)]

In [61]:
loans['applicant_ethnicity'].value_counts()

2    13324327
1     1706151
Name: applicant_ethnicity, dtype: int64

In [62]:
loans['co_applicant_ethnicity'].value_counts()

5    8317584
2    6022735
1     690159
Name: co_applicant_ethnicity, dtype: int64

In [63]:
# 1 -- American Indian or Alaska Native
# 2 -- Asian
# 3 -- Black or African American
# 4 -- Native Hawaiian or Other Pacific Islander
# 5 -- White
# 6 -- Information not provided by applicant in mail, Internet, or telephone application 
#7 -- Not applicable

loans['applicant_race_1'].value_counts()

5    12547950
3     1058566
2     1050788
6      211226
1       98177
4       63771
Name: applicant_race_1, dtype: int64

In [64]:
loans=loans[(loans.applicant_race_1 != 6) & (loans.applicant_race_1 != 7)]

In [65]:
# 1 -- American Indian or Alaska Native
# 2 -- Asian
# 3 -- Black or African American
# 4 -- Native Hawaiian or Other Pacific Islander
# 5 -- White
# 6 -- Information not provided by applicant in mail, Internet, or telephone application 7 -- Not applicable
# 8 -- No co-applicant
loans['co_applicant_race_1'].value_counts()

8    8188893
5    5793771
2     474769
3     261880
6      34328
1      33595
4      32016
Name: co_applicant_race_1, dtype: int64

In [66]:
loans=loans[(loans.co_applicant_race_1 != 6) & (loans.co_applicant_race_1 != 7)]

In [67]:
# 1 -- Male
# 2 -- Female
# 3 -- Information not provided by applicant in mail, Internet, or telephone application 
# 4 -- Not applicable
# 5 -- No co-applicant
loans['applicant_sex'].value_counts()

1    10326558
2     4438166
3       19807
4         393
Name: applicant_sex, dtype: int64

In [68]:
loans=loans[(loans.applicant_sex != 3) & (loans.applicant_sex != 4)]

In [70]:
loans['applicant_sex'].value_counts()

1    10326558
2     4438166
Name: applicant_sex, dtype: int64

In [72]:
# 1 -- Male
# 2 -- Female
# 3 -- Information not provided by applicant in mail, Internet, or telephone application 
# 4 -- Not applicable
# 5 -- No co-applicant
loans['co_applicant_sex'].value_counts()

5    8175776
2    5210120
1    1372770
3       5898
Name: co_applicant_sex, dtype: int64

In [73]:
loans=loans[(loans.co_applicant_sex != 3) & (loans.co_applicant_sex != 4)]

In [74]:
loans['co_applicant_sex'].value_counts()

5    8175776
2    5210120
1    1372770
Name: co_applicant_sex, dtype: int64

In [75]:
tight_records=len(loans)
print(f'Total_records: {tight_records:,d}')

Total_records: 14,758,666

In [77]:
loans.to_csv("../resources/loans_final_state.csv")

In [ ]:
# loans=loans.drop(columns=['state_code'])
# loans.head()

In [ ]:
# loans.to_csv("resources/loans_final.csv")

#### Make datasets to speed up training/testing

In [78]:
medium= loans.sample(n = 500000, random_state = 1)

In [79]:
medium.to_csv("../resources/medium_loans_final_state.csv")

In [80]:
# small= loans.sample(n = 50000, random_state = 1)

In [81]:
# small.to_csv("resources/small_loans_final.csv")

In [83]:
rest_of_data=loans.drop(medium.index)

In [84]:
rest_of_data.to_csv("../resources/leftovers_to_test.csv")